<section class="ftco-counter ftco-section img" id="section-counter" style="background-color: #f4f6f1 !important;">
    <div class="overlay" style="background: #6b8e23 !important; opacity: 0.25 !important;"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center" style="border-color: rgba(74, 93, 35, 0.3) !important;">
                        <strong class="number" data-number="@ViewBag.carCount" style="color: #4a5d23 !important;">0</strong>
                        <span style="color: #3e4d22 !important; font-weight: 600;">Toplam Araç Sayısı</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center" style="border-color: rgba(74, 93, 35, 0.3) !important;">
                        <strong class="number" data-number="@ViewBag.locationCount" style="color: #4a5d23 !important;">0</strong>
                        <span style="color: #3e4d22 !important; font-weight: 600;">Lokasyon Sayımız</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center" style="border-color: rgba(74, 93, 35, 0.3) !important;">
                        <strong class="number" data-number="@ViewBag.brandCount" style="color: #4a5d23 !important;">0</strong>
                        <span style="color: #3e4d22 !important; font-weight: 600;">Marka Sayımız</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text d-flex align-items-center">
                        <strong class="number" data-number="@ViewBag.carCountByFuelElectric" style="color: #4a5d23 !important;">0</strong>
                        <span style="color: #3e4d22 !important; font-weight: 600;">Elektrikli Araç Sayımız</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>