<head>
    <meta charset="utf-8" />
    <title>CarBook | Admin Yönetim Paneli</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="CarBook Araç Kiralama Admin Yönetim Sistemi" name="description" />
    <meta content="Nehir Taysi" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="~/Admin/vertical/assets/images/favicon.ico">

    <link href="~/Admin/vertical/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/vertical/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/vertical/assets/css/theme.min.css" rel="stylesheet" type="text/css" />

    <style>
        :root {
            --carbook-haki: #6b8e23;
            --carbook-haki-dark: #4a5d23;
        }

        #side-menu {
            font-size: 13.5px !important;
        }

        .mm-active > a, .mm-active > i, .mm-active {
            color: var(--carbook-haki) !important;
        }

        body {
            font-family: 'Inter', sans-serif; 
            color: #444;
        }

        ::-webkit-scrollbar {
            width: 6px;
        }

        ::-webkit-scrollbar-thumb {
            background: #ddd;
            border-radius: 10px;
        }

            ::-webkit-scrollbar-thumb:hover {
                background: var(--carbook-haki);
            }
    </style>
</head>