<footer class="footer" style="background-color: #ffffff; border-top: 1px solid #f1f1f1; padding: 20px 0;">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <p class="mb-0" style="color: #6c757d; font-size: 13px; font-weight: 500;">
                    @DateTime.Now.Year © <span style="color: #4a5d23; font-weight: 700;">CarBook</span> Admin Management
                </p>
            </div>
            <div class="col-sm-6">
                <div class="text-sm-right d-none d-sm-block">
                    <span style="font-size: 13px; color: #999;">
                        Design & Develop by <b style="color: #6b8e23;">Nehir Tayşi</b>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>